body {
    background-color: #eeeeee;
    background-image: url(images/ghibli_pinkflowers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div {
    background-color: #CBD2D9;
    border-radius: 5px;
    opacity: 0.9;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h1 {
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
p {
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
