body {
    background-color:#1f282e;
    background-image: url(images/ghibli_pinkflowers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div {
    background-color:#c8d1d6;
    border-radius: 3px;
    margin-top: 20px;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 7px;
}
h1, p {
    text-align: center;
    /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
}
